{% block MPContentType_label %}
{% endblock %}
{% block MPContentType_errors %}{% endblock %}

{% block MPContentType_widget %}

    <div class="row">
        {#<div class="col-md-4">

            {{ form_widget(form.categoryId) }}
        </div>#}
        <div class="col-md-4">

            {{ form_widget(form.contentId) }}
        </div>
        <div class="col-md-4">
                <a href="#" class="collection-remove btn btn-default" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Add "><span class="glyphicon glyphicon-plus-sign"></span></a>

        </div>
    </div>

{% endblock %}