{% block ContentImageType_label %}
{% endblock %}
{% block ContentImageType_errors %}{% endblock %}

{% block ContentImageType_widget %}

    <div class="row">
        <div class="col-md-8">
            
            {{ form_widget(form.file) }}
        </div>       
        <div class="col-md-4">
              <a href="#" class="collection-remove btn btn-default" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add "><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
    </div>

{% endblock %}