<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
   
        <title>{% block title %} {{project.name}} {% endblock %}</title>
        {% block stylesheets %}           
            {% stylesheets 
                           'bundles/rpsadmin/css/jquery-ui.css' filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}


        {% endblock%}


        <link rel="icon" type="image/x-icon" href="{{ asset('web/images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts  '@RpsAdminBundle/Resources/public/js/jquery.min.js'
                        '@RpsAdminBundle/Resources/public/js/bootstrap.min.js'
                        '@RpsAdminBundle/Resources/public/js/html5shiv.js'
                        '@RpsAdminBundle/Resources/public/js/respond.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts  %}

    {% endblock %}
</body>
</html>
