
<a  style="padding-right: 30px;" data-toggle="tooltip" title="редактировать"  href="{{path(edit_route, {'id': dt_item})}}">
                            <span class="glyphicon glyphicon-pencil" style="color:orange"></span>
                        </a>

                            