<a  class="ajaxDelete" id="{{dt_item}}"  data-toggle="tooltip" title="удалить"  href="#">
                            <span class="glyphicon glyphicon-remove" style="color:red"></span>
                        </a>                            
                            
                            