{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">
            <p>
            Председатель Райпрофсожа РУП «Гомельское отделение Белорусской железной дороги» <i>Сущинский Виталий Валентинович</i><br>

            Заместитель председателя Райпрофсожа РУП «Гомельское отделение Белорусской железной дороги<i>» Моисеенко Владимир Фёдорович
            </i></p>
        <p>
            <b>Контактная информация:</b><br>
            Тел. (+375 232) 95-27-34<br>
            Факс (+375 232) 95-27-34, факс (+375 232) 77-46-75<br>
            Адрес: 246022, Республика Беларусь, г.Гомель, ул. Ветковская, 5,<br>
        </p>
        <p>
            <b>Е – mail</b><br>
            <u>Для пользователей в домене RW:</u><br>
            Maslakova@gomel.rw<br>
            rps_ot@gomel.rw<br>
        </p>
        <p>
            <u>Для пользователей сети Интернет:</u><br>
            Glbuh_rpsozh@nod.gomel.by <br>

        </p>


    </div>



{% endblock %}