{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">
        <ul>

            <li>Представительство и защита профессиональных, социально-трудовых и иных связанных с ними прав и законных интересов членов Профсоюза;
            </li>
            <li>Участие в разработке системы организации и оплаты труда работников, форм материального поощрения, размеров тарифных ставок (окладов) и нормирования труда;
            </li><li>123<br></li>
            <li>Участие в разработке и реализации программ занятости работников;
            </li>
            <li>Контроль за состоянием условий и охраны труда, экологической безопасности;
            </li>
            <li>Содействие обеспечению и расширение социальных гарантий;
            </li>
            <li>Осуществление общественного контроля за соблюдением нанимателем или уполномоченным им органом управления законодательства Республики Беларусь о труде и профессиональных союзах;
            </li>
            <li>Развитие системы социального партнерства;
            </li>
            <li>Содействие реализации конституционных положений о социальной направленности государства Республики Беларусь;
            </li>
            <li>Содействие благотворительным и другим организациям социальной направленности, действующим в интересах членов Профсоюза;
            </li>
            <li>Осуществление иной деятельности , не противоречащей законодательству Республики Беларусь, по реализации своих уставных целей и задач.
            </li>
        </ul>


    </div>



{% endblock %}