{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="news_content_text lead">
    <img src="{{ asset('web/images/static/st_1.jpg') }}" style="float: left; margin: 1em;"/>
    <br><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24 февраля 1920 года на организационном заседании Членов нового Гомельского Районного Правления (протокол №12) решался вопрос о том, какие члены Райпрофсожа могут быть освобождены от обязанностей по службе.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Заседание постановило:</strong> 10 человек членов Правления освободить от обязанностей по службе.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;На заседании был избран освобожденный председатель Райпрофсожа т. Андрейчик А.С.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Президиум Райпрофсожа был избран в количестве 5 человек.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В послевоенные годы (ВОВ), по возвращении с фронта, на заседании президиума Дорпрофсожа (протокол от 14.03.1944г. №4) был утвержден состав Оргбюро Райпрофсожа Гомель из трех человек:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Равский Сергей Никитович</strong>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Яцко Ефим Данилович</strong>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Пономарёв Николай Павлович</strong>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>9 апреля 1944 года</strong> на организационном заседании членов Пленума Райкома Профсоюза работников железной дороги (Райпрофсожа) центра Гомельского отделения Белорусской железной дороги (протокол №1) были проведены выборы президиума Райпрофсожа и выборы председателя и заместителя председателя Райпрофсожа.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Постановили:</strong> Избрать Председателем президиума Райпрофсожа Пономарева Н.П.

    <img src="{{ asset('web/images/static/st_2.jpg') }}" style="float: right; margin: 1em;"/>
    <br>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Председатели Гомельского Райпрофсожа:</strong>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Пономарев Николай Павлович 1944 г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Кульвиский Иван Константинович 1946 г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Лапский Николай Захарович 1947-1949г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Чачин Александр Федорович 1949-1957 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ложков Александр Николаевич 1957-1971 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Полосмак Дмитрий Яковлевич  1971-1976 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сушков Иван Яковлевич 1976-1980 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Продухо Никодим Никодимович 1980-1995 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Гуренкова Наталья Александровна 1995-2000 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Банников Вячеслав Михайлович 2000-2007 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Карась Николай Григорьевич 2007-2010 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Куцанов Михаил Иванович 2010-2015 г.г.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сущинский Виталий Валентинович 2015- по настоящее время.
    </div>



{% endblock %}