{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="news_content_text lead" style="text-align: center">
      <img src="{{ asset('web/images/static/struct.jpg') }}" style="width: 40%;"/>

    </div>



{% endblock %}