{% extends 'RpsBundle::layout.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block entity_content %}

    <div class="col-sm-10">
        <h3 style="margin-top: 0; text-align: center">{{ title }}</h3>
    </div>
    <div class="clearfix"></div>
    <div class="news_content_text lead">
        <ul>
            <li>Защита прав и законных интересов членов Профсоюза, а также представительство интересов работников железнодорожного транспорта, транспортного строительства и других организаций (структурных подразделений) в социальном партнерстве, включая ведение коллективных переговоров, заключение Отраслевого соглашения, коллективных договоров, осуществление контроля за их выполнением;</li>
            <li>Обеспечение защиты права члена профсоюза на рабочее место, соответствующее государственным стандартам условий охраны и безопасности труда;</li>
            <li>Обеспечение защиты права члена Профсоюза на справедливую и своевременную оплату труда в полном размере;</li>
            <li>Контроль за соблюдением нанимателями (их представителями) законодательства о труде и иных нормативных правовых актов, содержащих нормы трудового права, защита членов Профсоюза от незаконных взысканий, увольнений и других противоправных действий;</li>
            <li>Обеспечение каждому члену Профсоюза гарантий и компенсаций, предусмотренных законодательством, Отраслевым соглашением, коллективными договорами, другими нормативными правовыми актами;</li>
            <li>Реальное повышение жизненного уровня каждого члена Профсоюза;</li>
            <li>Защита прав и законных интересов членов Профсоюза при реорганизации, ликвидации, приватизации, смене собственника организации (структурного подразделения);</li>
            <li> Социальная поддержка членов Профсоюза. </li>

        </ul>


    </div>



{% endblock %}